/* Mise en forme des tuiles administratives */
div.adminTile .background {box-sizing:border-box;position: relative;Width: calc(100% - 20px);margin:10px;border: thick double darkolivegreen;border-top:none;background-color:antiquewhite;}
div.adminTile .title {margin:0px;width:100%;height:30px;line-height:30px;text-align:center;font-size:large;font-weight: bold;background-color: darkolivegreen;color:white}
div.adminTile .inside {font-size: large;padding:2px;margin:0px;}
div.adminTile .inside .intro, div.adminTile .inside .outro {font-size:medium;color:#555;margin:0px;padding:4px;}
div.adminTile .inside .outro {display:block;text-align: center;border-top:#555 solid 1px;}
div.adminTile .inside .content {padding-left:10px;padding-right:10px;}

/*AdminMessagePopup */
#adminMessage {resize: none;width:100%;height: 4em;}


/*Mise en forme de la tuile liste des parties */
#gamesListTile table,#gamesListTile tr {border: 1px solid #555;width:100%;border-collapse: collapse;}
tr.adminGameDisplay td button {background-color: transparent;}
#gamesListTile tr:nth-child(odd) {background-color:bisque;}
#gamesListTile th {background-color: #555;color: #e5d2e5;font-size:large;}
#gamesListTile td {border: 1px solid #555; display:flexbox;font-weight:bold;font-size:medium;}
tr.adminGameDisplay div.villain img, tr.adminGameDisplay div.player img {height:1em;border:solid 1px black;margin-right:3px;}
#gamesListTile tr.selected, #gamesListTile tr:hover {background-color:aqua;}
tr.adminGameDisplay button.gameKey { padding:2px;padding-left:5px;padding-right:5px;background-color:black;color:yellow;font-size:large;font-weight:bold;}
#gamesListTile td.webSockets {text-align: center;}
#gamesListTile td.actions {text-align:center;display:flexbox;flex-flow: row;}
#gamesListTile td.actions button {background-color:transparent;height:1em;width:1em;font-size:large;margin:5px;}
#gamesListTile button.delete {background-image: url(./trash.png);}
#gamesListTile button.save {background-image: url(./save.png);}

/* Mise en forme de la tuile Messagerie Instantannée */
#adminMessages button {box-sizing:border-box; border-radius: 4px;border: 2px solid black;color:black;font-weight:bold;font-size: large;height:24px;line-height: 24px;margin:0px;width: 40px;}
#adminMessages button:hover {border-color: white;color:white;background-color: black;}

/* Mise en forme de la tuile Serveur */
div#serverSecurity-content {height:300px;display:flex; flex-wrap:nowrap;padding:px;}
div#adminTILEserverSecu {width:46%;margin-left:2%;margin-right:4%;}
div#adminTILEserverSecu button {border-radius: 4px;border: 2px solid black;color:black;font-weight:bold;font-size: large;height:20px;line-height: 20px;margin:0px;vertical-align: middle;padding-left:5px;padding-right:5px;margin-left:5px;}
div#adminTILEserverSecu button:hover {border-color: white;color:white;background-color: black;}
div#adminTILEserverSecu div.error {width:100%;color:crimson;font-weight:bold;margin-top:2em;}


div#adminTILEserverSecu > div, div#adminTILEserverSecu > table {width:100%;text-align:left;}
div#adminTILEserverSecu div:first-of-type {height:2em;line-height: 2em;margin-bottom: .5em;}
div#adminTILEserverSecu table {border-collapse: collapse;}
div#adminTILEserverSecu table tr:not(.spacer) {height:1.5em;line-height: 1.5em;background-color:beige;}
div#adminTILEserverSecu table tr.spacer {height:1.5em;}
div#adminTILEserverSecu table td {padding:0px;padding-left:3px;padding-right:3px;}
div#adminTILEserverSecu table tr:nth-of-type(2) {border-bottom: 1px solid rgba(212, 206, 206, 0.5);}
div#adminTILEserverSecu table tr:nth-of-type(2) td {margin-bottom: 100px;}
input[type="checkbox"]#publicSlider{font-size: 12px; appearance: none;width: 2.5em;height: 1.5em;background: grey;border-radius: 2em;position: relative;cursor: pointer;outline: none;transition: all .2s ease-in-out;top:.5em;margin-right:3px;}
input[type="checkbox"]#publicSlider:checked{background: black;}
input[type="checkbox"]#publicSlider:after{position: absolute;content: "";width: 1.5em;height: 1.5em;border-radius: 50%;background: white;box-shadow: 0 0 .25em rgba(0,0,0,.3);transform: scale(.7);left: 0;transition: all .2s ease-in-out;}
input[type="checkbox"]#publicSlider:checked:after{left: calc(100% - 1.5em);}
div#adminTILEserverConsole {width:46%;background-color:black;box-sizing:border-box;border-radius: 4px; border: 2px solid grey;margin-top:0px;overflow-x:hidden;color:white;display:flex;flex-direction: column-reverse;font-size:smaller;white-space:nowrap;}
div#adminTILEserverConsole p {padding:0px;margin:0px;}
div#adminTILEserverConsole div.messWrap div {display:inline-block;height:1em;}
div#adminTILEserverConsole .red {color: crimson;}
div#adminTILEserverConsole .green {color: lightgreen;}
div#adminTILEserverConsole .cyan {color: cyan;}
div#adminTILEserverConsole .date {color:grey;}
button#adminTILEconsoleDownload {background-color:transparent;background-image: url(./save.png);height:20px;width:20px;margin:0px;position:absolute;bottom:2px;right:calc(2% - 10px);}
	