* {overflow-x: hidden;}
/* Mise en forme de l'accueil */
div#websiteIntro {box-sizing:border-box;margin:10%;margin-bottom:5%;border: thick double darkolivegreen;background-color:antiquewhite;padding:10px;font-size:medium;}
div#websiteIntro h1 {display:block;width:100%;text-align: center;margin-top:0px;}

/* Mise en forme des tuiles de la page d'accueil */
div.indexTile {position: relative;margin:10%;margin-bottom:5%;border: thick double darkolivegreen;background-color:antiquewhite;padding:10px;margin-top:0px;font-size:medium;}
div.indexTile .title {font-size:x-large;font-weight: bold;}
div.indexTile .intro {font-size:medium;color:#555;margin-bottom:5px;}
div.indexTile .outro {display:block;width:100%;text-align: center;font-weight:bold;color:crimson;}
div.indexTile .content {padding-left:10px;padding-right:10px;}
div.indexTile#joinGame  div.content {display:block;width:100%;font-size: large;text-align: center;position:relative;}
div.indexTile .keyInput {padding:5px;padding-left:2px;background-color:black;color:yellow;font-size:x-large;font-weight:bolder;margin:5px;text-transform:uppercase;text-align:center;}
div.indexTile#joinGame button, div#newGameKeyDiv button, div#newGamePass button {position: absolute;top: 50%;transform: translateY(-50%);padding: 1em;border-radius: 1em;color:white;text-transform:uppercase;font-weight: bold;transition: all .3s;background-color: green;}
div.indexTile#joinGame button:hover, div#newGameKeyDiv button:hover, div#newGamePass button:hover {background-color: white;color:green;}
div#newGame,div#newGamePass {display:block;width:100%;font-size: large;text-align: center;position:relative;}
input#newGamePassword {margin:5px;font-size:large;}
div#newGame input.ngNB {display:none;}
div#newGame label.ngNB {  display: inline-block; padding: .5em 1em; margin: 0.5em; cursor: pointer; color: black; border-radius: 0.25em; background: white; box-shadow: 0 3px 10px rgba(0,0,0,0.2), inset 0 -3px 0 rgba(0,0,0,0.22); transition: 0.3s; user-select: none;font-weight: bolder;font-size: larger;}
div#newGame input:disabled + .ngNB { background : lightgray; color:grey; cursor: default;}
/* div#newGame input.ngNB:checked + .ngNB { background: darkolivegreen; color: white;} */
div#newGame input.ngNB:checked + .ngNB { background: black; color: yellow;}
div#newGameTable {text-align: justify;}
div#newGameTable p {margin-bottom:0px;font-weight: bold;}