body {padding:0px;margin:0px;height:100vh;width:100vw;position:absolute;background-image: url(./background.png); background-size:cover;margin-right:20px;}
button {margin:0px;padding:0px;box-shadow: none;box-sizing: unset;background-size:contain;cursor:pointer;border:none;text-align:center;justify-content: center;cursor: pointer;}
/* "game key" display */
div#gameKey { writing-mode: vertical-rl; padding:5px;padding-left:2px;background-color:black;color:yellow;font-size:x-large;font-weight:bolder;transform:scale(-1);position:absolute;right:0px;bottom:20%;}

/* link to usefull keyword definitions */
button#help {display: none;}

/* Link to github documentation */
button#doc {display: none;}

/* Link to github issues */
button#bug {display: none;}

/* language selection DIV */
div.language {display: none;}

/* popup boxes styling */
div#popup .background {position:fixed;Width: 50%;margin-top: 10%;margin-left: 25%;border: thick double darkolivegreen;border-top:none;overflow:hidden;}
div#popup .title {width:100%;height:30px;line-height:30px;text-align:center;font-size:large;font-weight: bold;background-color: darkolivegreen;color:white}
div#popup .close {width:24px;height:24px;background-color:black;color:white;font-size:x-large;font-weight:normal;position:absolute;top:0px;right:0px;}
div#popup .close::before {content: 'X';}
div#popup .close:hover {background-color:crimson;}
/* Bouton de "Hard Refresh" derrière l'icône Admin */
div#popup .adminRefresh {width:24px;height:24px;background-color:transparent;background-image:url(./refresh.png);position:absolute;top:0px;left:0px;}
div#popup .adminRefresh:hover {background-color:crimson;}
div#popup .inside {height: calc(100% - 40px);background-color:honeydew;overflow-y:auto; padding:10px;padding-top:5px;padding-bottom:2px;}
div#popup  p {padding:0px;margin:0px;}
div#popup .inside button {padding:3px; background-color: grey; border: solid 1px black; color:white;font-size:medium;font-weight:normal;}
div#popup .inside button:hover {background-color:lightgrey; border-color:grey;}
div#popup .intro {text-align:justify;}
div#popup .content {padding:10px;display:flex;}
div#popup .buttons {width:100%;justify-content:space-evenly;display:flex;}
div#popup .outro {text-align:justify;}

/* buttons for life/threat input */
button.minus,button.plus,div.value {border-radius: 4px;border: 2px solid white;font-weight:bold;display:inline-flex;font-size: 12px;height:24px;line-height: 24px;}
button.minus,button.plus {width:24px;color: white; background-color: black;font-size:18px;}
button.minus::before{content:'<';}
button.plus::before{content:'>';}
button.minus:hover, button.plus:hover {background-color:white;border-color:black;color:black;}
div.value {font-size: 18px; font-weight: bold;color: white; background-color: black;padding:0px;margin:0px;padding-left:2px; padding-right:2px;}
button.mobile {display:block;height:12px;width:20px;background-image: url(./smartphone.png);}
button.mobile:hover {height:18px;width:30px;}

/* Main definition of status buttons */
div.status button {cursor:pointer;color:black;border: solid 1px black;border-radius: 4px;}
div.status button.off {opacity: 0.5;color:grey;border-color: grey;}
div.status button.confused {background-color:#e5d2e5;padding:2px;}
div.status button.stunned {background-color:#afcd53;padding:2px;}
div.status button.tough {background-color:#feb848;padding:2px;}
div.status button.retaliate {}
div.status button.piercing {}
div.status button.ranged {}

/*Gestion des menus */
button.settingsMenu,button.adminMenu,button.melodiceMenu {position:fixed;;right:0px;width:30px;height:30px;cursor:pointer;background-color: transparent;}
button.settingsMenu {top:2px;background-image: url(./settings.png);}
button.melodiceMenu {top:calc(50% - 15px);background-image: url(./melodice.png);background-color:rgba(255, 255, 255, 0.5)}
button.adminMenu {bottom:2px;background-image: url(./admin.png);}
button.settingsMenu:hover,button.adminMenu:hover,button.melodiceMenu:hover {width:40px;height:40px;background-color:rgba(255, 255, 255, 0.7);}