body {padding:0px;margin:0px;height:100%;width:100%;position:absolute;background:lightblue;}
/* link to admin page (may content "game key") */
div#adminBar {}

/* link to usefull keyword definitions */
button#help {display: none;}

/* Link to github documentation */
button#doc {display: none;}

/* Link to github issues */
button#bug {display: none;}

/* language selection DIV */
div.language {display: none;}

/* melodice musical plugin interface */
div.melodice {display: none;}

/* for input boxes displayed at need */
.inputDiv {}
    .inputDiv div.title {}
    .inputDiv p.intro {}
    .inputDiv div.buttons {}
    .inputDiv div.buttons button {}
    .inputDiv div.buttons button.cancel {}
    .inputDiv p.outro {}

/* buttons for life/threat input */
button.minus,button.plus,div.value {border-radius: 4px;border: 2px solid white;font-weight:bold;display:inline-flex;text-align:center;font-size: 12px;margin:0px;padding:0px;box-shadow: none;height:24px;line-height: 24px;box-sizing: unset;justify-content: center;}
button.minus,button.plus {width:24px;color: white; background-color: black;cursor: pointer;font-size:18px;}
button.minus::before{content:'<';}
button.plus::before{content:'>';}
div.value {font-size: 18px; font-weight: bold;color: white; background-color: black;padding:0px;margin:0px;padding-left:2px; padding-right:2px;}

/* Main definition of status buttons */
div.status {}
div.status button {cursor:pointer;}
    div.status button.confused {}
    div.status button.stunned {}
    div.status button.tough {}
    div.status button.retaliate {}
    div.status button.piercing {}
    div.status button.ranged {}