#players {text-align:center;display: flex;justify-content:space-evenly;flex-wrap:wrap;margin-top:10px;}
/* Diplay of user box */
.player {font-variant: small-caps; text-transform: capitalize;display:inline-block;margin-right: 5px;margin-left: 5px;min-width: 320px;border-radius: 10px;}
.player .player-frame {background:radial-gradient(black,red);border-radius: 4px;margin-bottom: 2px;position: relative;padding-bottom: 10px;}
.player button.picture {border:solid 1px black;position:absolute;left:3px;top:3px;background-image:none;width:40px;height:40px;}
.player-frame > button.name {display:block;width:100%;font-weight:bolder;font-size:x-large;color:white;margin-bottom: 3px;background-color: transparent;}
.player div.life {display:block;}
.player div.life div.value {background-color:lightcyan;color:black;}
.player div.status {display:flex;flex-wrap:wrap;margin-top:5px;}
.player div.status button {flex: 1 1 25%;font-weight: bolder;margin:2px;margin-left:5px;margin-right:5px;font-size: medium;}
.player .alterHero {color:yellow;font-size:large;font-weight:bold;background:transparent;margin-top:5px;}
.player button.mobile {position:absolute;bottom:2px;left:2px;}

/* Liste des compteurs génériques */
.player div.counters {background-color:rgba(0, 0, 0, 0.5);padding:0px;text-align:left;position:relative;border: solid 2px darkolivegreen;box-sizing: border-box;}
.player div.counters div.title {font-weight:bold;font-size:large;background-color:darkslategrey;width:100%;color:#f3b723;height:calc(1em + 4px);line-height: calc(1em + 4px);padding:2px;}
.player div.counters button.new, .player div.counters button.remove {border-radius: 4px;border: 2px solid white;font-weight:bold;display:block;text-align:center;font-size:large;margin:0px;padding:0px;box-shadow: none;height:1em;line-height: 1em;justify-content: center;width:1em;color: white; background-color: black;cursor: pointer;font-size:18px;float:left;margin-left:2px;display:block;position:absolute;right:2px;top:2px;}
.player div.counters button.new:hover, .villain div.counters button.remove:hover {background-color:white;border-color:black;color:black;}
.player div.counters button.new::before {content: "+";}
.player div.counters button.remove::before {content: "-";}
.player div.counters div.counter {width:100%;color:#f3b723;font-weight:bold;font-size:large;position:relative;}
.player div.counters p.name {display:inline-block;color:#f3b723;margin-left:2px;margin:0px;padding:0px;margin-right:2px;font-weight:bold;font-size:large;background-color: transparent;}
.player div.counters div.value {background-color: darkolivegreen;}

/* Affichage du bouton Premier Joueur */
.player button.firstPlayer {background-color:transparent;background-image: url('./first.png');width:74px;height: 60px;position:absolute;}
.player button.firstPlayer.off {opacity: 0.5;}
#firstplayer0 {top: -5px;right: -5px;}
#firstplayer1 {top: -5px;right: -5px;}
#firstplayer2 {top: -5px;right: -5px;}
#firstplayer3 {top: -5px;right: -5px;}