/*Main box including 0 to 4 villains */
#villains {}
#villains div.villain {}

/*Main box including 0 to 4 players */
#players

/*FirstPlayer token management */
button#firstplayer {display: none;}
button#firstplayer .one {}
button#firstplayer .two {}
button#firstplayer .three {}
button#firstplayer .four {}

/* Dialog boxes displayed on need */
#villainChange {display: none;}
#playerChange {display: none;}
#mainSchemeChange {display: none;}
#newScheme {display: none;}